<p class="heading">Your Lists</p>
<ul class="ams-lists">
    <li *ngFor="let list of lists" (click)="openList(list['id'])" class="d-flex justify-content-between">
        <div>
            <span class="name">{{ list['name'] }}</span>
        </div>
        <div>
            <span class="count">{{ list['tasks']['length'] }}</span>
            <span class="options">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                </button>
            </span>
        </div>
    </li>
    <li class="create-item" (click)="openNewListModal()">
        <span class="name">Create List</span>
    </li>
</ul>

<app-create-list></app-create-list>