<ams-header></ams-header>
<div class="d-flex">
    <app-ams-sidebar></app-ams-sidebar>
    <main id="content" class="d-flex justify-content-center">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div class="section-heading">
                            <h5>{{ task['name'] }}</h5>
                        </div>
                        <div class="section-options">
                            <button class="red">
                                Complete Task
                            </button>
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <section class="content">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea>{{ task['description'] }}</textarea>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
</div>