<ams-header></ams-header>
<div class="flex">
    <div class="w-3/12">
        <app-ams-sidebar></app-ams-sidebar>
    </div>
    <main id="content" class="w-9/12 flex justify-content-center">
        <div class="content-wrapper">
            <div class="flex justify-content-between">
                <div class="section-heading">
                    <h5>Inbox</h5>
                </div>
                <div class="section-options">
                    Options here
                </div>
            </div>
        </div>
    </main>
</div>
