.content-wrapper {
    min-height: calc(100vh - 43px);
    width: 720px;
    padding: 35px 0;

    .section-heading {

        h5 {
            font-weight: 700;
        }

    }

    .section-options {

        font-size: 12px;

        button {
            background: none;
            border: 0;
            border-radius: 3px;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                cursor: pointer;
                background: $lightDarkerGrey;
            }

        }

    }

}