.header {
    background: $red;
    color: $white;
    padding: 3px 25px;
    max-height: 43px;
    min-height: 43px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            a{
                padding: 10px;

                &:hover {
                    background: $redLight;
                }
            }
        }

    }

}