<ams-header></ams-header>
<div class="flex">
    <div class="w-3/12">
        <app-ams-sidebar #sidebar></app-ams-sidebar>
    </div>
    <main id="content" class="w-9/12 pt-24 flex justify-center">
        <div class="w-8/12">
            <div class="content-wrapper">
                <div class="flex justify-between">
                    <div class="section-heading">
                        <h5 class="text-lg font-bold">{{ list['name'] }}</h5>
                    </div>
                    <div class="flex">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"/></svg>
                        </button>
                        <button class="ml-4">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                        </button>
                    </div>
                </div>

                <app-tasks (newTaskCreated)="sidebar.update()" [tasks]="list['tasks']"></app-tasks>

            </div>
        </div>
    </main>
</div>
